<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - frontend</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/frontend.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script>
</head>

<body>
    <header>
        <nav class="py-2 px-[4rem] 2xl:px-[10rem] shadow-md">
            <div class="w-full flex items-center justify-between gap-10">
                <a class="text-black font-bold text-2xl no-underline" style="text-decoration: none" asp-area=""
                    asp-controller="Home" asp-action="Index">Moee</a>
                <div class="flex-1 flex items-center justify-between pl-[10rem]">
                    <ul class="flex items-center gap-5 pt-3">
                        <li class="">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product"
                                asp-action="Index">Product</a>
                        </li>
                    </ul>
                    <div>
                        <button>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth"
                                asp-action="ViewLoginUser">Login</a>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>